conf/node-red/modbus.template.json
{
    "id": "MODBUS Flow Format",
    "label": "{{.Params.FlowId}}",
    "info": "",
    "nodes":[
        {
            "id": "TS-MODBUS-STATE-{{.Params.FlowId}}",
            "type": "status",
            "z": "8900476a.91f358",
            "name": "",
            "scope": [
                "TS-MODBUS-GETTER-CONN-{{.Params.FlowId}}"
            ],
            "x": 100,
            "y": 120,
            "wires": [
                [
                    "TS-MODBUS-DEBUG-3-{{.Params.FlowId}}",
                    "TS-MODBUS-STATUS-FUNC-ID-{{.Params.FlowId}}"
                ]
            ]
        },
        {
            "id": "TS-MODBUS-DEBUG-3-{{.Params.FlowId}}",
            "type": "debug",
            "z": "8900476a.91f358",
            "name": "",
            "active": false,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "true",
            "targetType": "full",
            "x": 310,
            "y": 120,
            "wires": []
        },
        {
            "id": "TS-MODBUS-STATUS-FUNC-ID-{{.Params.FlowId}}",
            "type": "function",
            "z": "128c8c3f.3d9e44",
            "name": "",
            "func": "const { status } = msg;\nconst stat = global.get('ts-status') || {};\nif(stat[status.source.name] !== status.fill) {\n    msg.payload = status.fill;\n}\nstat[status.source.name] = status.fill;\nglobal.set('ts-status', stat);\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "x": 310,
            "y": 60,
            "wires": [
                [
                    "TS-MODBUS-STATUS-MQTT-OUT-ID-{{.Params.FlowId}}"
                ]
            ]
        },
        {
            "id": "TS-MODBUS-STATUS-MQTT-OUT-ID-{{.Params.FlowId}}",
            "type": "mqtt out",
            "z": "128c8c3f.3d9e44",
            "name": "",
            "topic": "/thingspin/connect/{{.Params.FlowId}}/status",
            "qos": "2",
            "retain": "true",
            "broker": "TS-MQTT-LISTENER-ID-{{.Params.FlowId}}",
            "x": 530,
            "y": 60,
            "wires": []
        },
        {
            "id": "TS-MQTT-LISTENER-ID-{{.Params.FlowId}}",
            "type": "mqtt-broker",
            "z": "128c8c3f.3d9e44",
            "broker": "localhost",
            "port": "1883",
            "clientid": "",
            "usetls": false,
            "compatmode": true,
            "keepalive": "60",
            "cleansession": true,
            "birthTopic": "",
            "birthQos": "0",
            "birthPayload": "",
            "closeTopic": "",
            "closeQos": "0",
            "closePayload": "",
            "willTopic": "",
            "willQos": "0",
            "willPayload": ""
        },
        {
            "id": "TS-MODBUS-INJECT-{{.Params.FlowId}}",
            "type": "inject",
            "z": "8900476a.91f358",
            "name": "",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "repeat": "{{.Params.Intervals}}",
            "crontab": "",
            "once": true,
            "onceDelay": 0.1,
            "x": 110,
            "y": 160,
            "wires": [
                [
                    {{.Params.InjectWires}}
                ]
            ] 
        },
        {
            "id": "TS-MODBUS-GETTER-CONN-{{.Params.FlowId}}",
            "type": "modbus-getter",
            "z": "8900476a.91f358",
            "name": "CONN_TEST_{{.Params.FlowId}}",
            "showStatusActivities": false,
            "showErrors": false,
            "logIOActivities": false,
            "unitid": "",
            "dataType": "",
            "adr": "",
            "quantity": "",
            "server": "TS-MODBUS-SERVER-ID-{{.Params.FlowId}}",
            "useIOFile": false,
            "ioFile": "",
            "useIOForPayload": false,
            "x": 340,
            "y": 160,
            "wires": [
                [],
                []
            ]
        },      
        {{if .Enable}}
            {{.Params.AddressNode | convJsonStr}}
        {{end}}
        {
            "id": "TS-MODBUS-JOIN-{{.Params.FlowId}}",
            "type": "join",
            "z": "8900476a.91f358",
            "name": "MODBUS_JOIN",
            "mode": "custom",
            "build": "array",
            "property": "payload",
            "propertyType": "msg",
            "key": "topic",
            "joiner": "\\n",
            "joinerType": "str",
            "accumulate": false,
            "timeout": "1",
            "count": "{{.Params.AddressListCount}}",
            "reduceRight": false,
            "reduceExp": "",
            "reduceInit": "",
            "reduceInitType": "num",
            "reduceFixup": "",
            "x": 760,
            "y": 220,
            "wires": [
                [
                    "TS-MODBUS-JOIN-PARSER-{{.Params.FlowId}}"
                ]
            ]
        },
        {
            "id": "TS-MODBUS-JOIN-PARSER-{{.Params.FlowId}}",
            "type": "function",
            "z": "8900476a.91f358",
            "name": "MODBUS_JOIN_PARSER",
            "func": "var Total_item = {{.Params.AddressListCount}};\nvar value='';\n\nvar res = [\n            {\n                measurement:'MODBUS_{{.Params.influxID}}',\n                fields:{}\n            }\n            ];\n            \nfor(var i = 0; i < Total_item; i++){\n    value = msg.payload[i][0].fields;\n    for(var key in value){\n        res[0].fields[key]=value[key];\n    }\n}\n\nmsg.payload = res;\n\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "x": 1060,
            "y": 280,
            "wires": {{if .Enable}} [["TS-MODBUS-INFLUXDB-BATCH-{{.Params.FlowId}}"]] {{else}} [[]] {{end}}
        },
        {
            "id": "TS-MODBUS-SERVER-ID-{{.Params.FlowId}}",
            "type": "modbus-client",
            "z": "b8db9bb5.5bd948",
            "name": "",
            "clienttype": "tcp",
            "bufferCommands": true,
            "stateLogEnabled": true,
            "tcpHost": "{{.Params.Host}}",
            "tcpPort": "{{.Params.Port}}",
            "tcpType": "DEFAULT",
            "serialPort": "/dev/ttyUSB",
            "serialType": "RTU-BUFFERD",
            "serialBaudrate": "9600",
            "serialDatabits": "8",
            "serialStopbits": "1",
            "serialParity": "none",
            "serialConnectionDelay": "100",
            "unit_id": "{{.Params.UnitId}}",
            "commandDelay": 1,
            "clientTimeout": "{{.Params.TimeOut}}",
            "reconnectTimeout": "{{.Params.ReTimeOut}}"
        },
        {
            "id": "TS-MODBUS-INFLUXDB-BATCH-{{.Params.FlowId}}",
            "type": "influxdb batch",
            "z": "8204efd4.29a1",
            "influxdb": "TS-MODBUS-INFLUXDB-{{.Params.FlowId}}",
            "precision": "",
            "retentionPolicy": "",
            "name": "",
            "x": 1370,
            "y": 280,
            "wires": []
        },
        {
            "id": "TS-MODBUS-INFLUXDB-{{.Params.FlowId}}",
            "type": "influxdb",
            "z": "8204efd4.29a1",
            "hostname": "127.0.0.1",
            "port": "8086",
            "protocol": "http",
            "database": "thingspin",
            "name": "",
            "usetls": false,
            "tls": ""
        }
    ]
}