conf/node-red/modbus.template.json
{
    "id": "MODBUS Flow Format",
    "label": "{{.FlowId}}",
    "info": "",
    "nodes":[
    {
        "id": "TS-MODBUS-GETTER-ID-{{.FlowId}}", 
        "type": "modbus-getter",
        "z": "b8db9bb5.5bd948",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "unitid": "",
        "dataType": "{{.DataType}}",
        "adr": "{{.Addr}}",
        "quantity": "{{.Quantity}}",
        "server": "TS-MODBUS-SERVER-ID-{{.FlowId}}",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 440,
        "y": 140,
        "wires": [
            [
                "TS-MODBUS-DEBUG-1-{{.FlowId}}",
                "TS-MODBUS-PARSER-{{.FlowId}}"
            ],
            [
                "TS-MODBUS-DEBUG-2-{{.FlowId}}"
            ]
        ]
    },
    {
        "id": "TS-MODBUS-INJECT-ID-{{.FlowId}}",
        "type": "inject",
        "z": "b8db9bb5.5bd948",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "{{.Intervals}}",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 250,
        "y": 140,
        "wires": [
            [
                "TS-MODBUS-GETTER-ID-{{.FlowId}}"
            ]
        ]
    },
    {
        "id": "TS-MODBUS-DEBUG-1-{{.FlowId}}",
        "type": "debug",
        "z": "b8db9bb5.5bd948",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "TS-MODBUS-DEBUG-2-{{.FlowId}}",
        "type": "debug",
        "z": "b8db9bb5.5bd948",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "TS-MODBUS-PARSER-{{.FlowId}}",
        "type": "function",
        "z": "43cffeef.084d5",
        "name": "Parser",
        "func": "var Total_item = {{.Quantity}};\n\nvar res = [\n            {\n                measurement:'{{.FlowId}}',\n                fields:{}\n            }\n            ];\n            \nfor(var i = 0; i < Total_item; i++){\n    var num = i;\n    var n = num.toString();\n    var str = '40031'+'_'+n+'th';\n    \n    var value = msg.payload[i];\n    res[0].fields[str] = value;\n}\n\nmsg.payload = res;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 140,
        "wires": [
            [
                "TS-MODBUS-PARSER-DEBUG-{{.FlowId}}",
                "TS-MODBUS-INFLUXDB-BATCH-{{.FlowId}}"
            ]
        ]
    },
    {
        "id": "TS-MODBUS-INFLUXDB-BATCH-{{.FlowId}}",
        "type": "influxdb batch",
        "z": "43cffeef.084d5",
        "influxdb": "TS-MODBUS-INFLUXDB-{{.FlowId}}",
        "precision": "",
        "retentionPolicy": "",
        "name": "",
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "TS-MODBUS-INFLUXDB-{{.FlowId}}",
        "type": "influxdb",
        "z": "",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "thingspin",
        "name": "",
        "usetls": false,
        "tls": ""
    },
    {
        "id": "TS-MODBUS-PARSER-DEBUG-{{.FlowId}}",
        "type": "debug",
        "z": "43cffeef.084d5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 870,
        "y": 140,
        "wires": []
    },
    {
        "id": "TS-MODBUS-STATE-{{.FlowId}}",
        "type": "status",
        "z": "b8db9bb5.5bd948",
        "name": "",
        "scope": [
            "TS-MODBUS-GETTER-ID-{{.FlowId}}"
        ],
        "x": 220,
        "y": 220,
        "wires": [
            [
                "TS-MODBUS-DEBUG-3-{{.FlowId}}"
            ]
        ]
    },
    {
        "id": "TS-MODBUS-DEBUG-3-{{.FlowId}}",
        "type": "debug",
        "z": "b8db9bb5.5bd948",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 430,
        "y": 220,
        "wires": []
    },
    {
        "id": "TS-MODBUS-SERVER-ID-{{.FlowId}}",
        "type": "modbus-client",
        "z": "b8db9bb5.5bd948",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "tcpHost": "{{.Host}}",
        "tcpPort": "{{.Port}}",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": "{{.UnitId}}",
        "commandDelay": 1,
        "clientTimeout": "{{.TimeOut}}",
        "reconnectTimeout": "{{.ReTimeOut}}"
    }
]
}